@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1> 
    <h3>Flatworld Solutions (FWS) is a global corporation offering solutions in IT, Business Consulting and Outsourcing Services. Founded in 2002 and incorporated in 2004 with the single-minded purpose of using technology to equip and enable businesses build efficiency, negate global distances, save time and increase bottom lines worldwide, Flatworld has earned its stripes with a decade of satisfying experiences. Over 18488 customers and millions of dollars in increased client revenue, 3500+ efficient and enabled employees with a solution centric leadership all tell the story - A story of expanding possibilities.</h3>
</div>
