@model Project
@{
    ViewData["Title"] = "Details";
}
<form method="post">
    <div class="border p-3 mt-4">
        @*    <div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" readonly/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CustomerId">Customer</label>
            <input asp-for="CustomerId" class="form-control" readonly/>
            <span asp-validation-for="CustomerId" class="text-danger"></span>
        </div>

        <h1>Enter Resource Details</h1>
        <div class="mb-3">
            <label asp-for="JobTitle">Job Title</label>
            <input asp-for="JobTitle" class="form-control" />
            <span asp-validation-for="JobTitle" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SkillSet">Skill Set</label>
            <input asp-for="SkillSet" class="form-control" />
            <span asp-validation-for="SkillSet" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Experience"></label>
            <input asp-for="Experience" type="number" class="form-control" />
            <span asp-validation-for="Experience" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NoOfMonths">No Of Months</label>
            <input asp-for="NoOfMonths" type="number" class="form-control" />
            <span asp-validation-for="NoOfMonths" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="StartDate">Start Date</label>
            <input asp-for="StartDate" type="date" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="EndDate">End Date</label>
            <input asp-for="EndDate" type="date" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NoOfResources">No Of Resources</label>
            <input asp-for="NoOfResources" type="number" class="form-control" />
            <span asp-validation-for="NoOfResources" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-info" style="width:150px">Add Resource</button>
    </div>
</form>