@model ManageProject
<h1 class="text-danger 6text-center">@ViewData["UserExist"]</h1>
<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<hr />
		</div>
	@*	<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="Name">Project Name</label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Description"></label>
			<input asp-for="Description" class="form-control" />
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
   <div class="mb-3">
            <label asp-for="StartDate">Start Date</label>
            <input asp-for="StartDate" type="date" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="EndDate">End Date</label>
            <input asp-for="EndDate" type="date" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
		<div class="mb-3">
			<label asp-for="ManagerId">Project Manager</label>
			<input asp-for="ManagerId" class="form-control" />
			<span asp-validation-for="ManagerId" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="SubmissionDate">Proposal Submission Date</label>
			<input asp-for="SubmissionDate" type="date" class="form-control" />
			<span asp-validation-for="SubmissionDate" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Status"></label>
			<input asp-for="Status" class="form-control" />
			<span asp-validation-for="Status" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-info" style="width:150px">Create</button>
		<a asp-controller="ManageProject" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>

@section Scripts{
	@{
	<partial name="_ValidationScriptsPartial"/>
}
}